.zola-anchor {
    display: none;
}

.zola-anchor i {
    font-size: 0.75em;
}

.article-body h1 {
    border-bottom: 1px solid #d3d3d3aa;
}

.article-body h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #d3d3d3aa;
}

.article-body h3 {
    font-size: 1.25em;
}

.article-body h4 {
    font-size: 1em;
}

.article-body h5 {
    font-size: 0.875em;
}

.article-body h6 {
    font-size: 0.8em;
    color: var(--color-fg-muted);
}

blockquote {
    padding-top: 1em;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
}

.article .content blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.article .content a {
    text-decoration: underline;
}

.content pre code table tbody tr td {
    border-width: 0px;
}

mark {
    background-color: #60606080 !important;
}

.highlight {
    background-color: gold;
    width: fit-content;
    padding-left: 2px;
}


.content .aside-question {
    background-color: cornflowerblue;
    border-left-color: blue;
}

.content .aside-lightbulb {
    background-color: #ffff0080;
    border-left-color: #aaaa00;
}

.content .aside-exclamation {
    background-color: #ff000080;
    border-left-color: red;
}

.content .aside-warning {
    background-color: #ff8c0080;
    border-left-color: darkorange;
}

.content .aside-bug {
    background-color: #00ff0080;
    border-left-color: green;
}

.aside-icon {
    font-size: 1.2em;
}

.aside-caption {
    font-size: 1.1em;
}