
{% macro list_projects(pages) %}
<section class="articles">
    <div class="columns is-desktop">
        <div class="column is-10-desktop is-offset-1-desktop">

            <article itemscope itemtype="http://schema.org/CreativeWork">
                <div class="card article">
                    <div class="card-content">
                        {% for page in pages %}
            
                        {{ self::project(page=page) }}
            
                        {% endfor %}
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
{% endmacro list_projects %}


{% macro project(page) %}
<p>
    <a href="https://github.com/{{ page.extra.user }}/{{ page.extra.repo }}/">
        <span class="title article-title is-link">{{ page.title }}</span>
    </a>
    <a href="{{ get_url(path="/project-tags/" ~ page.title) }}"><i>See posts</i></a>
</p>
<div class="content">
    {{ self::ghstar(user = page.extra.user, repo = page.extra.repo) }}
    {{ self::ghwatch(user = page.extra.user, repo = page.extra.repo) }}
    {{ self::ghfork(user = page.extra.user, repo = page.extra.repo) }}
    {{ self::ghdownload(user = page.extra.user, repo = page.extra.repo) }}
    <p>{{ page.content | safe }}</p>
</div>
<hr>
{% endmacro %}

{% macro ghstar(user, repo) %}
<iframe src="https://ghbtns.com/github-btn.html?user={{ user }}&repo={{ repo }}&type=star&count=true" style="width: 130px; height: 20px;" frameborder="0" scrolling="0" title="GitHub"></iframe>
{% endmacro %}

{% macro ghwatch(user, repo) %}
<iframe src="https://ghbtns.com/github-btn.html?user={{ user }}&repo={{ repo }}&type=watch&count=true&v=2" style="width: 130px; height: 20px;" frameborder="0" scrolling="0" title="GitHub"></iframe>
{% endmacro %}

{% macro ghfork(user, repo) %}
<iframe src="https://ghbtns.com/github-btn.html?user={{ user }}&repo={{ repo }}&type=fork&count=true" style="width: 130px; height: 20px;" frameborder="0" scrolling="0" title="GitHub"></iframe>
{% endmacro %}

{% macro ghdownload(user, repo) %}
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/{{ user }}/{{ repo }}/archive/HEAD.zip" data-icon="octicon-download" aria-label="Download">Download</a>
{% endmacro %}

{% macro ghreadme(user, repo, branch, file) %}

<script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2F{{ user }}%2F{{ repo }}%2Fblob%2F{{ branch }}%2F{{ file | safe }}&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on&showCopy=on"></script>

{% endmacro %}