{% extends "index.html" %}

{% import "post_macros.html" as post_macros %}
{% import "index_macros.html" as index_macros %}

{% block content %}
<!-- START NAV -->
{% block header %}
{{ super() }}
{% endblock header %}
<!-- END NAV -->
<main>
    <!-- START HERO TITLE -->
    {% if not title %}
    {% set title = taxonomy.name ~ ": " ~ term.name | capitalize %}
    {% endif %}
    {{ index_macros::hero(title=title,primary=false) }}
    <!-- END HERO TITLE -->
    <div class="container">
        {% block main %}
        {% endblock main %}
    </div>
</main>
{% endblock content %}