{% extends "Zulma/templates/index.html" %}


{% block main %}

<div class="column is-10-desktop is-offset-1-desktop">
    <div class="card article">
        <div class="card-content">
            <header>
                <div class="has-text-centered">
                    <p class="title article-title">Welcome to my corner on the internet!</p>
                </div>
            </header>
            <div class="content article-body has-text-centered">


                <p class="left-align">
                    Hi, I'm moolick!<br>
                    <i class="fa-solid fa-terminal"></i> I've been coding since 2009; I started in vb.net and Visual Studio 2008. <br>
                    <i class="fa-solid fa-code"></i> I now know and am comfortable with a nice assortment of languages. () <br>
                    <i class="fa-solid fa-computer"></i> I enjoy pretty much all aspects of computers, from front-end development all the way to playing around with systems programming on Arduinos and RaspberryPis.<br>
                    <br>
                    <i class="fa-solid fa-mug-hot"></i> I consume a lot of coffee, and as such, directly contribute to the rising costs of that. Sorry..
                </p>

                <hr>

                <ul>
                    <li>
                        Visit my <a href="{{ get_url(path="/blog") }}">Blog</a>, where I document my adventures
                    </li>
                    <li>
                        View my list of <a href="{{ get_url(path="/projects") }}">Projects</a>, where I jot-down my current endeavors
                    </li>
                </ul>

                <hr>

                <ul>
                    <li>
                        Take a look at my sad, lonely <a href="https://github.com/moolicc"><i class="fa-brands fa-github"></i> GitHub</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>

{% endblock main %}