{% extends "Zulma/templates/index.html" %}


{% block main %}

<div class="column is-10-desktop is-offset-1-desktop">
    <div class="card article" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-content">
            <header>
                <div class="has-text-centered">
                    <p class="title article-title">Welcome to my corner of the internet!</p>
                </div>
            </header>
            <div class="content article-body has-text-centered">


                {% set image = resize_image(path="static/images/me.jpg", width=64, height=64) %}
                <img class="round-image" src="{{ image.url }}" alt="Avatar">
                <p class="subtitle" style="margin-top: 0px">Hi, I'm moolick!</p>

                <p class="left-align">
                    <i class="fa-solid fa-terminal"></i> I've been coding since 2009; I started in vb.net and Visual Studio 2008.<br><br>
                    <i class="fa-solid fa-code"></i> I now know and am comfortable with a nice assortment of languages.<br><br>
                    <i class="fa-solid fa-computer"></i> I enjoy pretty much all aspects of computers, from front-end development all the way to playing around with systems programming on Arduinos and RaspberryPis.<br>
                    <br><br>
                    <i class="fa-solid fa-mug-hot"></i> I consume a lot of coffee, and as such, directly contribute to the rising costs of that. Sorry..
                </p>

                <hr>

                <ul>
                    <li>
                        Visit my <a href="{{ get_url(path="/blog") }}">Blog</a>, where I document my adventures
                    </li>
                    <li>
                        View my list of <a href="{{ get_url(path="/projects") }}">Projects</a>, where I jot-down my current endeavors
                    </li>
                </ul>

                <hr>

                <ul>
                    <li>
                        Take a look at my sad, lonely <a href="https://github.com/moolicc"><i class="fa-brands fa-github"></i> GitHub</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>

{% endblock main %}